@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@tailwind utilities;

/* Put your reset inside @layer base */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    @apply font-sans; /* Tailwind default sans-serif */
    font-family: 'Inter', sans-serif; /* Override with Roboto */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes scroll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-70%); }
}

html {
  scroll-behavior: smooth;
}

/* Optional: Custom scroll padding for section links */
html {
  scroll-padding-top: 80px; /* Adjust based on your navbar height */
}
